<<<<<<< HEAD
%h5.soft Find reports
=======
%h5 Find reports
>>>>>>> 08bc431cdb29418e9c0cff941a60832c42e56b56
=form_for(:user, :url => home_results_path) do |f|
	%p= f.text_field :title, :class => 'span3'
	%p= f.submit 'Go', :class => 'btn small primary'
