<<<<<<< HEAD
%h5.soft Recent reports
=======
%h5 Recent reports
>>>>>>> 08bc431cdb29418e9c0cff941a60832c42e56b56
-if @last_reports.empty?
  %p No reports added
-else
  %ul
    - @last_reports.each do |report|
      %li
        = link_to report.title, get_report_path(report.id, report.title_slugize)
