%h5 Recent reports
-if @last_reports.empty?
  %p No reports added
-else
  %ul
    - @last_reports.each do |report|
      %li
        = link_to report.title, get_report_path(report.id, report.title_slugize)
