%div.well
    %h5 Report
    =form_for(:user, :url => {:controller => 'home', :action => 'index'}) do |f|
        %p= f.select :name, [['Report 1', 1],['Report 2', 2]], {:prompt => 'select one'},:class => 'medium'
        %p= f.text_field :week, :class => 'span3'
        %p= f.submit 'Go', :class => 'btn small primary'
%div.well
    %h5 Related Reports
    %ul
        %li
            %a{:href=> "#"} Report 3
        %li
            %a{:href=> "#"} Report 14
        %li
            %a{:href=> "#"} Report 2
