%div.sidebar
	%div.well
		%h5 Report
		=form_for(:user, :url => {:controller => 'home', :action => 'index'}) do |f|
			%p= f.select :name, [['Report 1', 1],['Report 2', 2]], {:prompt => 'select one'},:class => 'medium'
			%p= f.text_field :week, :class => 'span3'
			%p= f.submit 'Go', :class => 'btn small primary'
	%div.well
		%h5 Related Reports
		%ul
			%li
				%a{:href=> "#"} Report 3
			%li
				%a{:href=> "#"} Report 14
			%li
				%a{:href=> "#"} Report 2
%div.content
	- flash.each do |name, msg|
		= show_flash name, msg
	%div.page-header
		%h2 
			Dashboard
			%small View chart
	%ul.breadcrumb
		%li
			%a{:href => "#"} Dashboard
			%span.divider /
		%li.active
			%a{:href => "#"} Reporte 1
	%div.row
		%div.span10
			%img{:src => 'http://dummyimage.com/550x320', :alt => 'Space for chart'}
		%div.span3
			%h4 Choose a graphic
			%div.input
				%select{:class => "medium", :multiple => 'multiple', :name => 'graphic', :id => 'graphic'}
					%option{:value => "1"} Graphic 1
					%option{:value => "2"} Graphic 2
					%option{:value => "3"} Graphic 3
					%option{:value => "4"} Graphic 4
	%div.row
		%div.span16
			%h2 Reporte 1
			%p Example description Example description Example description Example description Example description Example description Example description