= content_for :head do
	= javascript_include_tag "home_user"
%div.content
	- flash.each do |name, msg|
		= show_flash name, msg
	%div.page-header
		%h2
			Dashboard
			%small Last 4 weeks
	%ul.breadcrumb
		%li
			%a{:href => "#"} Dashboard
			%span.divider /
		%li.active
			%a{:href => "#"} Last 4 weeks
	%div.row
		%div.span16
			%div#slides
				%div.slides_container
					%div#chart1{:style => "width:800px;height:320px"}
					%div#chart2{:style => "width:800px;height:320px"}
					%div#chart3{:style => "width:800px;height:320px"}
					%div#chart4{:style => "width:800px;height:320px"}
					%div#chart5{:style => "width:800px;height:320px"}
					%div#chart6{:style => "width:800px;height:320px"}
					%div#chart7{:style => "width:800px;height:320px"}
					%div#chart8{:style => "width:800px;height:320px"}