@mixin btn_medium_base {
    .btn.primary{
            background-color:  #CF8F00;
            border-color: #CF8F00 #CF8F00 #C3F00;
            background-image: -moz-linear-gradient(center top , #F7D9A7, #CF8F00);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CF8F00));

        }
}
