// Place all the styles related to the funnels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table th, table td {
  padding: 10px 10px 9px;
  line-height: 18px;
  text-align: right;

  td.week{
    text-align: center;
  }
}
