.topbar{
    position:relative;
    height: 138px;

    .brand {
        background: transparent url("../assets/wot-logo.png")  no-repeat 0% -10%;
        height: 111px;
        width: 310px;
    }
    nav ul{
        margin-top: 91px;
    }
}
