/*@import "utils/buttonts";*/
@mixin btn_medium_base {
    .btn.primary{
            background-color:  #CF8F00;
            border-color: #CF8F00 #CF8F00 #C3F00;
            background-image: -moz-linear-gradient(center top , #F7D9A7, #CF8F00);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CF8F00));

        }
}


.sidebar{
     @include btn_medium_base;
}


.topbar2{
    position:relative;
    height: 138px;

    .brand {
        background: transparent url("../assets/wot-logo.png")  no-repeat 0% -10%;
        height: 111px;
        width: 310px;
    }
    nav ul{
        margin-top: 91px;
    }
}
