// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reports{

    textarea{
        height: 100px;
        width: 500px;

    }
    input.span7{
        width:500px;
    }
    label{
        margin-right:20px;
    }
}
