// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*@import "utils/buttons";*/
@import "global.css";

.reports{
    .help-block{
         font-size: 13px;
    }

   textarea{
        height: 100px;
    }
    label{
        margin-right:20px;
    }
}
